@charset  "utf-8";
/* CSS Document */


/*************/
/** General **/
/*************/

body{
	/* Naranja interior background-color:#ffd2b3; */
	background-color:#ffd2b3;
	/* Azul background-color:#bfc8dd;  */
	
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	color:#4b5b69;	
}

img {
	border:0;
}

.clear{
	clear:both;
	display:block;
}

a{
	color:#041825;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;;
}


p, h1, h2, h3, h4{
	margin:0px;
	padding:0px;
}

h1{
	font-size:48px;
	color:#2d3e4b;
}

h2{
	font-size:30px;
	color:#627685;
}

h3{
	font-size:24px;
	color:#4880d1;	
}

h4{
	font-size:24px;
	color:#2d3e4b;
	margin-bottom:5px;
}

#container{
	width:960px;
	margin:auto;	
}

.spacerW10{
	float:left;
	display:inline;
	width:10px;
}

/************/
/** HEADER **/
/************/

#header{
	background:url('../images/bgHeader.gif') repeat-x ;
	height:110px;	
}

/** LOGO **/

#logoContainer{
	background:url('../images/bgLogo.jpg') no-repeat;
	height:110px;
	width:368px;
	float:left;
}

#logo{
	padding:40px 0 0 40px;
	float:left;
}

/** LOGIN **/

#login{
	float:right;
	display:block;
	margin:15px 10px 0 0;
}

.loginButton{
	width:140px;
	height:24px;
	color:#d3d9e7;
	float:right;
	background-color:#4880d1;
	text-align:center;
	margin-left:5px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.loginButton:hover{
	background-color:#ff8f42;	
	color:#fff;
}

a.loginLink{
	font-size:14px;	
	color:#d3d9e7;	
	text-decoration:none;
	line-height:24px;
	cursor:pointer;
}

.saludo{
	float:right;
	color:#ff8f42;
	padding:5px 10px 0 0;	
	cursor:default;
}


/** MENU **/

#menu{
	float:right;
	display:block;
	margin:35px 10px 0 0;	
}

.menuButton{
	width:140px;
	height:24px;
	color:#081c2a;
	background-color:#d3d9e7;
	text-align:center;
	float:left;
	margin-left:5px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;}

.menuButton:hover{
	background-color:#ff8f42;	
	color:#fff;
}

a.menuLink{	
	font-size:14px;	
	color:#081c2a;	
	text-decoration:none;
	line-height:24px;
	cursor:pointer;
}


/***************/
/** IE FILTER **/
/***************/

#ieFilter{
	background-color:#ffe5e5;
	height:135px;
}

#ieFilterInfo{
	float:left;
}

#filterImg{
	float:left;
	margin:20px;	
	display:inline;
	width:55px;
}

#filterText{
	float:left;
	display:inline;
	font-size:14px;
	margin-top:20px;
}

#filterText p{	
	padding-bottom:5px;
}

#filterList{
	margin:0 0 10px 0;
	list-style:none;
}

#filterList li{
	margin:0 0 5px 20px;
}


#filterList li a{
	color:#4B5B69;
	text-decoration:none;
}

#filterList li a:hover{
	text-decoration:underline;
}

#filterList li img{
	margin-right:10px;	
}

/************/
/** FOOTER **/
/************/

#footer{
	height:159px;
	background:url('../images/bgFooter.gif') repeat-x;
	padding:0px;	
	margin:0px;	
}

#footerContainer{	
	width:940px;
	margin-left:10px;
	height:120px;
	background-color:#1e4362;	
	font-size:14px;
	float:left;
	margin-top:20px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#footerContainer a{
	font-size:14px;
}

/** NAVIGATION **/

#navegacion{
	color:#4880d1;
	font-size:18px;
	margin:0px;
	padding:20px 0 10px 20px;
	line-height:0px;
}

.webMapList{
	list-style:none;
	margin:10px 0 0 20px;
	padding:0px;	
}

.webMapList li{
	float:left;
	display:inline;
}

.webMapList li.active{
	color:#fff;
}

.webMapLink{
	color:#ff8f42;
	font-size:12px;
	text-decoration:none;
}

.webMapLink:hover{
	text-decoration:none;	
}

.webMapListSpacer{
	color:#ff8f42;
	margin:0 3px 0 3px;
}

#copyright{
	color:#b0bac2;
	float:right;
	margin-right:10px;
}

/** CONTENT & STRUCTURE **/

.orangeSlash{
	height:5px;
	background-color:#ff8f42;
	clear:both;
}


/**********/
/** HOME **/
/**********/

/** MODULE 1 **/

#topBody{
	background-color:#d3d9e7;
	float:left;
	display:block;	
	width:960px;
	padding:20px 0 20px 0;	
}

/** CLAIM **/

#claim{
	width:460px;
	float:left;
	margin:15px 0 0 20px;
	
}

.moduleClaim{
	margin-top:20px;
	float:left;
	display:block;
	width:460px;
}

.logoClaim {
	float:left; 
	display:inline;
	width:57px;
	margin-right:10px;
}
.claimTitle{
	display:block;	
	margin-right:10px;
}

#highlights{	
	margin-top:5px 10px 0 0;
	width:470px;
	float:right;
	display:block;
}

/** BUTTONS **/

#registerButtons{	
	text-align:center;	
	margin-left:80px;
	margin-top: 10px;
	position:relative;
	z-index:1;
}

.registerButtons{	
	width:150px;
	height:30px;
	text-align:center;
	float:left;
	margin-right:20px;
	background-color:#0a1e2c;
	color:#ff8f42;
	z-index:-1;
	position:relative;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}


.registerButtons:hover{
	background-color:#ff8f42;	
	color:#fff;
}

a.registerLinks{	
	font-size:18px;	
	text-decoration:none;
	line-height:30px;
	cursor:pointer;
}

#gratis{
	margin-right:50px;	
	margin-top:-60px;	
	float:right;	
}

/** MODULE 2 **/

#bottomBody{
	background-color:#b0bac2;
	padding:20px 0 20px 0;
	display:block;
	float:left;	
	width:960px;
}

/** CARACTERISTICAS **/

.text{
	font-size:12px;
	line-height:14px;	
	cursor:default;
}

.slideshow{
	width:470px;
	height:325px;
	z-index:1;
	position:relative;
}


#caracteristicasContainer{
	margin-top:20px;
}

#caracteristicas{
	width:620px;
	background-color:#d3d9e7;
	border:1px solid #627685;
	margin:0px 20px 0 10px;
	float:left;
	display:block;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#caracteristicasLeft{
	width:280px;
	float:left;
	display:inline;
	margin:0 20px 0 20px;
	padding:20px 0 20px 0;
}

#thumbnailDestacado{
	margin-top:20px;
}

.thumbnailTitle{
	color:#4880d1;
	font-size:18px;
	margin:20px 0 2px 0;
	cursor:default;
}

#caracteristicasRight{
	width:280px;
	float:left;
	display:inline;
}

#caracteristicasListado{
	list-style:none;
	margin-top:70px;
}

#caracteristicasListado li{
	background: url('../images/listItemCaracteristicas.gif') no-repeat;
	background-position:0px 5px;
	padding-left:15px;
	color:#041825;
	margin-bottom:10px;	
}

#caracteristicasListado li a{
	color:#041825;
	text-decoration:none;
	font-size:14px;
}

#caracteristicasListado li a:hover{	
	text-decoration:underline;
}

#caracteristicasListado li a.active{
	color:#4b5b69;
}

/** VENTAJAS **/

#ventajas{
	float:left;
	width:258px;
	background: url('../images/bgVentajas.gif') repeat-x top;
	background-color:#173b5a;
	padding:20px;
	min-height:338px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#titleVentajas{
	color:#ff8f42;
	font-size:24px;
	margin-bottom:15px;	
}

#ventajas .text{
	color:#b0bac2;	
}

#ventajasListado{
	list-style:none;
	margin:8px 0 0 10px;
	padding:0px;	
}

#ventajasListado li{
	background: url('../images/listItemVentajas.gif') no-repeat;
	background-position:0px 5px;
	padding-left:15px;
	color:#559aff;
	font-size:14px;
	margin-bottom:10px;
}

.caracteristica{
	display:none;
	visibility:hidden;
}

/****************/
/** Plantillas **/
/****************/


/** LEFT COL **/
#contentCol{
	float:left;
	width:590px;
	margin-left:10px;
	padding:20px 10px 20px 20px;
	border:1px solid #627685;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#contentCol p.text{
	margin-bottom:10px;
}

/** PLANTILLA **/

.plantilla{
	min-height:100px;
	float:left;
	display:block;
	width:580px;
}

.blueLine{
	background-color:#627685;
	height:1px;
	margin:10px 0 20px 0;
	width:580px;
	float:left;
	display:block;
}

.plantilla img{
	float:left;
	border:1px solid #627685;
	margin-right:15px;
}

.plantillaTitle{
	color:#4880d1;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	cursor:default;
}

.iconos{
	float:right;
}

.icono{
	float:left;
	margin-right:50px;
	padding-top:10px;
}

.icono img{
	border:0px;
	margin:-10px 5px 10px 0px;
}

.icono .text{
	padding-top:20px;
	display:inline;	
}



/** PAGINATION **/

#pagination{
	width: 310px;
	margin:auto;
}

/*
#pagination .plantillaTitle{
	float:left;
	display:inline;	
	margin-right:10px;
	padding:0px;
}
*/

#paginationList{
	list-style:none; 
	margin:0px;
	padding:0px;	
}

#paginationList li{
	font-size:14px;
	float:left;
}	

#paginationList li.active{
	font-weight:bold;
	color:#4880d1;	
}

#paginationList li.spacer{
	margin:0 3px 0 3px;
}

/** RIGHT COL **/

#modulesCol{
	float:left;
	width:300px;
	margin:0px 0px 0 10px;
}

/** DESTACADO 1 **/

#moduloDestacado1{
	float:left;
	background-color:#0f2c43;
	padding:20px;
	margin-bottom:20px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#modulo1Title{
	color:#ff8f42;
	font-size:24px;
	margin-bottom:15px;	
}

#moduloDestacado1 .text{
	font-size:14px;
	font-weight:bold;
	color:#b0bac2;	
}

#modulo1Listado{
	list-style:none;
	margin:8px 0 0 10px;
	padding:0px;	
}

#modulo1Listado li{
	background: url('../images/listItemVentajas.gif') no-repeat;
	background-position:0px 5px;
	padding-left:15px;
	color:#b0bac2;
	font-size:16px;
	margin-bottom:10px;
}

/** REGISTER BUTTON **/

#registerButton{	
	margin: 20px 0 0 50px;
	position:relative;
	z-index:1;
}

.registerButton{	
	width:150px;
	height:30px;
	background-color:#d3d9e7;		
	color:#0a1e2c;
	text-align:center;
	float:left;
	margin-right:20px;
	z-index:-1;
	position:relative;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.registerButton:hover{
	background-color:#ff8f42;
	color:#0f2c43;
}

a.registerLink{
	color:#d3d9e7;
	font-size:18px;	
	text-decoration:none;
	line-height:30px;
	cursor:pointer;
}

#gratisButton{
	margin-right:40px;	
	margin-top:-60px;	
	float:right;	
}

/** DESTACADO 2 **/

#moduloDestacado2{
	float:left;
	background-color:#ff8f42;
	padding:20px;
	margin-bottom:20px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#modulo2Title{
	color:#2d3e4b;
	font-size:24px;
	margin-bottom:15px;	
}

#moduloDestacado2 .text{
	font-size:14px;
	font-style:italic;
	color:#fff;
	margin-bottom:15px;
}

/**********/
/** FAQs **/
/**********/

/** DESTACADO 3 **/

#moduloDestacado3{
	float:left;	
	padding:20px;
	margin-bottom:20px;
	
	border:1px solid #627685;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#modulo3Title{
	width:255px;
	color:#ff8f42;
	font-size:24px;
	line-height:30px;	
	margin-bottom:5px;
}

#moduloDestacado3 .text{
	margin-bottom:15px;
}


#modulo3Listado{
	list-style:none;
	margin:8px 0 0 10px;
	padding:0px;	
	display:block;
}

#modulo3Listado li{
	background: url('../images/listItemModulo3.gif') no-repeat;
	background-position:0px 5px;
	padding-left:15px;	
	margin-bottom:10px;
	cursor:default;
}

.textCol{
	width:275px;
	float:left;
	margin-right:20px;
}

.textCol img{
	padding-bottom:10px;
}

#fullContent{
	float:left;
	width:900px;
	margin:0px 9px 0px 9px;	
	padding:20px 20px 20px 20px;
	border:1px solid #627685;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	

}

#fullContent p.text{
	margin-bottom:10px;
}

#fullContent img{
	padding:10px;
	float:left;
}

#fullContent img.right{
	padding:10px;
	float:right;
}







