@charset  "utf-8";
/* CSS Document */


/*************/
/** General **/
/*************/

body{
	background-color:#ffd2b3;	
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	color:#4b5b69;	
}
	
body.headerfixed #headerEncuesta {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;	
}

img {
	border:0;
}

.clear{
	clear:both;
	display:block;
}

a{
	color:#041825;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;;
}


p, h1, h2, h3, h4{
	margin:0px;
	padding:0px;
}

h1{
	font-size:48px;
	color:#2d3e4b;
}

h2{
	font-size:30px;
	color:#627685;
}

h3{
	font-size:24px;
	color:#4880d1;	
}

h4{
	font-size:24px;
	color:#2d3e4b;
	margin-bottom:5px;
}

#container{

}

/************/
/** HEADER **/
/************/

#headerEncuesta{
	width: 100%;
	background:url('../images/bgHeaderEncuesta.gif') repeat-x;
	height:60px;
	margin:auto;
}

#headerEncuestaContainer
{
	width:960px;
	margin:auto;
}

/** LOGO **/

#logoContainer{
	background:url('../images/bgLogoEncuesta.jpg') no-repeat;
	height:60px;
	width:630px;
	float:left;
}

#logo{
	padding:10px 0 0 40px;
	float:left;
}

#register{
	float:right;
	margin:15px;
}

.registerButton{
	width:160px;
	color:#d3d9e7;
	float:right;
	background-color:#4880d1;
	text-align:center;
	padding:5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.registerButton:hover{
	background-color:#ff8f42;	
	color:#fff;
}

a.registerLink{
	font-size:16px;	
	color:#d3d9e7;	
	text-decoration:none;
	cursor:pointer;
}


/************/
/** FOOTER **/
/************/

#footer{
	height:60px;
	background:url('../images/bgFooter.gif') repeat-x;	
}

#footerContainer{
	margin:auto;
	width:960px;

}

#footerInfo{	
	float:left;
	width:920px;
	margin:10px;
	padding:10px;
	background-color:#1e4362;	
	font-size:14px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#copyright{
	color:#b0bac2;
	float:right;
	margin-right:10px;
}


/*****************/
/*** STRUCTURE ***/
/*****************/

.orangeSlash{
	height:5px;
	background-color:#ff8f42;
	clear:both;
}


/************/
/*** BODY ***/
/************/

#encuestaBody{
	width:900px;
	background-color:#fff;	
	padding:20px;
	padding-top:85px;
	margin:auto;
}

#fullContent{
	
}

/*********************/
/*** CUSTOM STYLES ***/
/*********************/

body{
	/* background-color:#fff; */
}

#encuestaBody{
	/* background-color:#fff;	*/
}