@charset  "utf-8";
/* CSS Document */


/*************/
/** General **/
/*************/

body{
	/* Naranja interior background-color:#ffd2b3; */
	background-color:#d3d9e7;
	/* Azul background-color:#bfc8dd;  */
	
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	color:#4b5b69;	
}

img {
	border:0;
}

.clear{
	clear:both;
	display:block;
	
}

.spacer10{
	height:10px;	
}

.text{
	font-size:12px;
	line-height:14px;	
	cursor:default;
	color:#2d3e4b;
}

a{
	color:#041825;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;;
}


p, h1, h2, h3, h4{
	margin:0px;
	padding:0px;
}

h1{
	font-size:48px;
	color:#2d3e4b;
}

h2{
	font-size:30px;
	color:#627685;
}

h3{
	font-size:24px;
	color:#4880d1;	
}

h4{
	font-size:24px;
	color:#2d3e4b;
	margin-bottom:5px;
}

.fRight{
	float:right;
}

#container{
	width:960px;
	margin:auto;	
}

.dNone{
	display:none;
}

.dBlock{
	display:block;
}

.vHidden{
	visibility:hidden;
}

.vVisible{
	visibility:visible;
}

.hspacer5{
	margin-left:5px;
}

.hspacer10{
	margin-left:10px;
}

.vspacer5{
	display:block;
	margin-top:5px;
}

.vspacer10{
	display:block;
	margin-top:10px;
}

/************/
/** HEADER **/
/************/

#header{
	background:url('../images/bgHeader.gif') repeat-x ;
	height:110px;	
}

/** LOGO **/

#logoContainer{
	background:url('../images/bgLogo.jpg') no-repeat;
	height:110px;
	width:368px;
	float:left;
}

#logo{
	padding:40px 0 0 40px;
	float:left;
}

/** LOGIN **/

#login{
	float:right;
	display:block;
	margin:15px 10px 0 0;
}

.loginButton{
	width:100px;
	height:24px;
	color:#d3d9e7;
	float:right;
	background-color:#4880d1;
	text-align:center;
	margin-left:5px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.loginButton:hover{
	background-color:#ff8f42;	
	color:#fff;
}

a.loginLink{
	font-size:14px;	
	color:#d3d9e7;	
	text-decoration:none;
	line-height:24px;
	cursor:pointer;	
}

.saludo{
	float:right;
	color:#ff8f42;
	padding:5px 10px 0 0;	
	cursor:default;
}

/** MENU **/

#menu{
	float:right;
	display:block;
	margin:35px 10px 0 0;	
}

.menuButton{
	width:140px;
	height:24px;
	background-color:#ff8f42;	
	color:#fff;text-align:center;
	float:left;
	margin-left:5px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;}

.menuButton:hover{
	background-color:#627685;	
	color:#d3d9e7;
}

a.menuLink{	
	font-size:14px;	
	color:#081c2a;	
	text-decoration:none;
	line-height:24px;
	cursor:pointer;
}


/************/
/** FOOTER **/
/************/

#footer{
	height:159px;
	background:url('../images/bgFooter.gif') repeat-x;
	
	padding:0px;	
	margin:0px;	
	
}

#footerContainer{	
	width:940px;
	margin-left:10px;
	height:120px;
	background-color:#1e4362;	
	font-size:14px;
	float:left;
	margin-top:20px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#footerContainer a{
	font-size:14px;
}

/** NAVIGATION **/

#navegacion{
	color:#4880d1;
	font-size:18px;
	margin:0px;
	padding:20px 0 10px 20px;
	line-height:0px;
}

.webMapList{
	list-style:none;
	margin:10px 0 0 20px;
	padding:0px;	
}

.webMapList li{
	float:left;
	display:inline;
}

.webMapList li.active{
	color:#fff;
}

.webMapLink{
	color:#ff8f42;
	font-size:12px;
	text-decoration:none;
}

.webMapLink:hover{
	text-decoration:none;	
}

.webMapListSpacer{
	color:#ff8f42;
	margin:0 3px 0 3px;
}

#copyright{
	color:#b0bac2;
	float:right;
	margin-right:10px;
}

/** CONTENT & STRUCTURE **/

.orangeSlash{
	height:5px;
	background-color:#ff8f42;
	clear:both;
}

#content{
	background-color:#ffd2b3;
	width:940px;
	float:left;
	display:block;	
	padding:20px 10px 20px 10px;	
}


/** LEFT COL / MODULES **/

#modulesContent{
	float:left;
	width:220px;
	padding:0px 10px 0px 0px;
}

/** INFO MODULE **/

.infoModule{
	width:198px;
	border: 1px solid #627685;
	background-color:#f3f3f3;
	padding:15px 10px 7px 20px;
	margin-bottom:20px;
	cursor:default;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.moduleTitle{
	color:#4880d1;
	font-size:18px;
	margin-bottom:10px;
}

.titleText{
	color:#2d3e4b;
	font-size:11px;
	font-weight:bold;
}

.sumaryText{
	color:#2d3e4b;
	font-size:11px;
	margin-left:15px;
}

/** ADD MODULE **/

.addItem{
	background: url('../images/backend/addListItem.gif') left center no-repeat;
	padding-left:15px;
	margin-left:10px;	
}

.addItem:hover{
	background: url('../images/backend/addListItem_hover.gif') left center no-repeat;
	padding-left:15px;
	margin-left:10px;
}

.addItem a{
	color:#ff8f42;
}

.addItem a:hover{
	color:#4880d1;
	text-decoration:none;
}

/** SUPPORT MODULE **/

.supportItem{
	background: url('../images/backend/supportListItem.png') left center no-repeat;
	padding-left:15px;
	margin-left:10px;
}

.supportItem:hover{
	background: url('../images/backend/supportListItem_hover.png') left center no-repeat;
	padding-left:15px;
	margin-left:10px;
}

.supportItem a{
	color:#ff8f42;
}

.supportItem a:hover{
	color:#4880d1;
	text-decoration:none;
}

.separador{
	border-bottom:1px solid #627685;
	margin:7px -10px 7px -20px;
}

.separador:hover{
	border-bottom:1px solid #627685;
	margin:7px -10px 7px -20px;
}


/** RIGHT COL / MAIN CONTENT **/

#mainContent{
	float:left;
	width:690px;
	margin-left:20px;
}

#mainTitle{
	margin-left:20px;
}

#leyenda{
	float:right;
	display:inline;
	margin-top:-40px;
	border: 1px solid #627685;
	background-color:#f3f3f3;
	padding:10px;	
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#leyendaText{
	float:left;
	margin-right:10px;
	font-weight:bold;
	cursor:default;
}

#eBorrador{
	background-color:#cee2ff;
	padding:4px 7px 4px 7px;
	border:1px solid #8ea8bb;
	margin-right:5px;
	text-decoration:none;
	cursor:pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#eBorrador:hover{
	background-color:#b5cff4;	
	text-decoration:none;
}

#ePublicada{
	background-color:#88b8fe;
	padding:4px 7px 4px 7px;
	margin-right:5px;
	border:1px solid #8ea8bb;
	text-decoration:none;
	cursor:pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#ePublicada:hover{
	background-color:#679eed;	
	text-decoration:none;
}

#eCerrada{
	background-color:#d6d6d6;
	padding:4px 7px 4px 7px;
	border:1px solid #8ea8bb;
	text-decoration:none;
	cursor:pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#eCerrada:hover{
	background-color:#b8b7b7;	
	text-decoration:none;
}

#displayContent{
	width:690px;
	background-color:#f3f3f3;
	border:1px solid #627685;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

/** TOP **/

#topDisplay{
	background-color:#173a58;
	border-bottom:1px solid #627685;
	padding:4px 10px 4px 10px;
	height:22px;
}

#topDisplay a{
	color:#fff;
	font-weight:normal;
}

.addLinkContainer{
	float:left;
	color:#fff;
	margin-top:4px;
}

.addButton{
	font-weight:bold;
	color:#fff;
	width:32px;
	background-color:#ff8f42;	
	height:22px;
	float:left;
	text-align:center;
	margin-top:-4px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.addButton:hover{
	background-color:#627685;	
	color:#d3d9e7;	
}

a.addLink{
	font-size:24px;	
	line-height:20px;
	cursor:pointer;
	text-decoration:none;
	float:left;
}

.addContainer{
	width:200px;
	font-size:10px;
	visibility:hidden;
	margin-top:5px;
	margin-left:15px;
	float:left;
}
	
#formFields{
	float:left;
	width:630px;
	border:1px solid #f00;
	margin-top:20px;
}
	
.paginationContainer{
	float:left;
	margin-left:0px;
	cursor:default;
}

.pagination{
	list-style:none;
	margin:6px 0 0 0;
	padding:0px;
}

.pagination li{
	background:none;
	float:left;
	display:inline;
	margin-right:5px;
	color:#fff;
	font-weight:bold;
}
.pagination li a{
	color:#ff8f42!important;
	font-weight:bold!important;	
}

.pagination li a:hover{
	color:#fff!important;
	text-decoration:none;
}

.leftArrow{
	background:url('../images/backend/leftArrow.png') no-repeat top left;
	width:6px;
	height:11px;
	float:left;
	margin-top:2px;
	cursor:pointer;
}

a:hover .leftArrow{
	background:url('../images/backend/leftArrow_hover.png') no-repeat top left;
}

.rightArrow{
	background:url('../images/backend/rightArrow.png') no-repeat top left;
	width:6px;
	height:11px;
	float:left;
	margin-top:2px;
	cursor:pointer;
}

a:hover .rightArrow{
	background:url('../images/backend/rightArrow_hover.png') no-repeat top left;
}

/*****************************
		DROP DOWN MENU
*****************************/

#optionsContainer {
	float:right;
	background-image: url('../images/backend/selectMostrar.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	height:22px;
	
	margin:0px;
	padding:0px;
}
#optionsContainer:hover{
	background-image: url('../images/backend/selectMostrar_hover.png');
	background-repeat:no-repeat;
}

#optionsContainer  a.orderTitle{
	margin-top:-12px;	
}
#optionsContainer:hover a.orderTitle{
	color:#d3d9e7;
}

#nav { 
	list-style:none;
	margin:0px;
	padding:12px 10px 0 0;
	
}
#nav li a { 
	display:block;
	padding:4px 10px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	width:150px;
}
#nav li a:hover {
 color:#d3d9e7;
}
/* Submenu */
#nav ul.submenu {
	border:1px solid #fff;
	padding:5px;
	position:absolute;
	list-style:none;
	background-color:#ff8f42;
	margin-left:-1px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;		
}
#nav ul.submenu li {
	float:none;
	background:url('../images/backend/leftArrow_hover.png') no-repeat 5px 5px;
	padding-left:10px;
	border-bottom:1px solid #fff;
	height:22px;
	width:160px;
}
#nav ul.submenu li:hover {
	background-color:#627685;
}
/* Subsubmenu */
#nav ul.subsubmenu {
	border:1px solid #fff;
	padding:5px;
	position:absolute;
	list-style:none;
	background-color:#ff8f42;
	margin-left:-200px;
	margin-top:-40px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
#nav ul.subsubmenu li {
	float:none;
	background-image:none;
	border-bottom:1px solid #fff;
	width:170px;
}

/*****************************/

/** BOTTOM **/

#bottomDisplay{
	background-color:#173a58;
	padding:4px 10px 4px 10px;
	height:22px;
}

#bottomDisplay a{
	color:#fff;
	font-weight:normal;
}



.deleteLinkContainer{
	float:right;
	text-align:right;	
	margin-top:4px;
	color:#fff;
}


.deleteButton{
	font-weight:bold;
	width:32px;
	background-color:#ff8f42;	
	height:22px;
	float:right;
	text-align:center;
	margin-left:10px;
	
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.deleteButton:hover{
	background-color:#627685;	
	color:#d3d9e7;
	
}

a.deleteLink{
	font-size:24px;	
	line-height:20px;
	cursor:pointer;
	text-decoration:none;		
}

#deleteContainer{
	visibility:hidden;
	width:220px;
	font-size:10px;	
}



/** INNER CONTENT **/

#infoDisplay{
	padding:10px;
	padding-top:20px;
}

.moduloEncuesta{
	width:668px;	
	border:1px solid #8ea8bb;
	margin-bottom:10px;
	background-color:#fff;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;		
}

.titleEncuesta{
	height:17px;
	border-bottom:1px solid #8ea8bb;
	padding:5px 10px 0px 10px;
	display:block;	
}
.titleEncuesta img{
	margin-right:5px;
}

.title{
	padding-left:20px;
	display:inline;
	line-height:14px;
	font-size:14px;
	font-weight:bold;	
	margin-right:10px;
}

.titleInfo{
	display:inline;
	margin:0px;
}

.titleAction{
	font-size:10px;
	float:right;
	margin-top:-14px;
	margin-right:2px;
}

.titleAction strong{
	font-size:12px;
}

.titleAction a{
	color:#4b5b69;
	font-weight:normal;
}

/** ESTILOS ENCUESTAS POR ESTADO **/


/* BORRADOR */
.borrador .titleEncuesta{
	color:#051a27;
	background:#cee2ff url('../images/backend/borradorIcon.png') no-repeat 5px 3px;
	cursor:default;
}
.borrador .titleEncuesta:hover{
	background-color:#b5cff4;
}

.borrador .titleAction a{
	color:#051a27;	
}

#bgBorrador{
	background: url('../images/backend/borradorIcon.png') no-repeat 0px 0px;
	padding-left:22px;	
	padding-bottom:2px;
}

/* PUBLICADA */

.publicada .titleEncuesta{
	color:#051a27;
	background:#88b8fe url('../images/backend/publicadaIcon.png') no-repeat 5px 3px;
	cursor:default;
}
.publicada .titleEncuesta:hover{
	background-color:#679eed;
}

.publicada .titleAction a{
	color:#051a27;	
}

#bgPublicada{
	background: url('../images/backend/publicadaIcon.png') no-repeat 0px 0px;
	padding-left:22px;	
	padding-bottom:2px;
}

/* CERRADA */
.cerrada .titleEncuesta{
	color:#051a27;
	background:#d6d6d6 url('../images/backend/cerradaIcon.png') no-repeat 5px 3px;
	cursor:default;
}
.cerrada .titleEncuesta:hover{
	background-color:#b8b7b7;
}

.cerrada .titleAction a{
	color:#051a27;	
}

#bgCerrada{
	background: url('../images/backend/cerradaIcon.png') no-repeat 0px 0px;
	padding-left:22px;	
	padding-bottom:2px;
}
/** Fin Encuestas por estado **/




.contentEncuesta{
	display:block;
	margin:10px 10px 5px 10px;
	
}

.eliminaEncuesta{
	float:left;
	margin-right:5px;
	margin-top:5px;
}

.descriptionEncuesta{	
	float:left;
	display:inline;
	width:460px;
	cursor:default;	
}

.iconasEncuesta{
	float:right;
	display:inline;	
	margin-top:-3px;
}

.iconasEncuesta a:hover{
	text-decoration:none;
}

.viewIcon,.editIcon,.publishIcon,.unPublishIcon,.spreadIcon,.statsIcon,.deleteIcon{
	float:left;
	display:inline;
	cursor:pointer;
}

.spreadIconInactive,.statsIconInactive,.deleteIconInactive{
	float:left;
	display:inline;	
	cursor:default;
}

.viewIcon{
	background: url("../images/backend/viewIcon.jpg");
	width:29px;
	height:20px;
}
.viewIcon:hover{
	background: url("../images/backend/viewIcon_hover.jpg");
}

.editIcon{
	background: url("../images/backend/editIcon.jpg");
	width:29px;
	height:20px;
}
.editIcon:hover{
	background: url("../images/backend/editIcon_hover.jpg");
}

.publishIcon{
	background: url("../images/backend/publishIcon.jpg");
	width:29px;
	height:20px;
}
.publishIcon:hover{
	background: url("../images/backend/publishIcon_hover.jpg");
}

.unPublishIcon{
	background: url("../images/backend/unPublishIcon.jpg");
	width:29px;
	height:20px;
}
.unPublishIcon:hover{
	background: url("../images/backend/unPublishIcon_hover.jpg");
}

.spreadIcon{
	background: url("../images/backend/spreadIcon.jpg");
	width:29px;
	height:20px;
}
.spreadIconInactive{
	background: url("../images/backend/spreadIconInactive.jpg");
	width:29px;
	height:20px;
}
.spreadIcon:hover{
	background: url("../images/backend/spreadIcon_hover.jpg");
}

.statsIcon{
	background: url("../images/backend/statsIcon.jpg");
	width:29px;
	height:20px;
}
.statsIconInactive{
	background: url("../images/backend/statsIconInactive.jpg");
	width:29px;
	height:20px;
}
.statsIcon:hover{
	background: url("../images/backend/statsIcon_hover.jpg");
}

.deleteIcon{
	background: url("../images/backend/deleteIcon.jpg");
	width:30px;
	height:20px;
}
.deleteIconInactive{
	background: url("../images/backend/deleteIconInactive.jpg");
	width:30px;
	height:20px;
}
.deleteIcon:hover{
	background: url("../images/backend/deleteIcon_hover.jpg");
}

/*********************/
/*** ENCUESTA FORM ***/
/*********************/

/*** PASOS ***/
#pasos{
	width:700px;
	margin:10px 0 0px 0;
	padding:0px;
}

#pasos a{
	text-decoration:none;
}

.paso{
	width:206px;
	height:20px;
	font-size:18px;
	float:left;
	margin:0 4px 0 0;
	padding:10px;	
	padding-top:8px;
	border:1px solid #627685;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.completado{
	background:#f3f3f3 url('../images/backend/completadoIcon.png') no-repeat 195px 8px;	
	color:#4880d1;
	cursor:pointer;
}

.completado:hover{
	background:#ff8f42 url('../images/backend/completadoIcon.png') no-repeat 195px 8px;
	color:#fff;	
}

.activo{
	background:#627685 url('../images/backend/activoIcon.png') no-repeat 195px 8px;	
	color:#f3f3f3;
}

.pendiente{
	background:#f3f3f3 url('../images/backend/pendienteIcon.png') no-repeat 195px 8px;	
	color:#939ea7;
}

#formContainer{
	width:650px;
	margin-top:20px;
	padding:20px;
	border:1px solid #627685;
	background-color:#f3f3f3;
	display:block;
	float:left;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

#formContent{
	margin:10px 20px 0 20px;
}

#botonera{
	width:700px;
	float:left;
	display:block;	
	margin-top:20px;
}

.fieldExplain{
	background-color:#ff8f42;
	padding:0 2px 0 2px;
	color:#fff;
	cursor:pointer;
	margin-left:10px;
	
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}
.fieldExplain:hover{	
	color:#d3d9e7;
	background-color:#627685;	
}

#stylePreview{
	margin-left:30px;
	float:left;
}

.styleThumb{
/*	width:138px;
	height:98px;
	*/
	border:1px solid #627685;
}

.styleThumbPersonaliza{
	float:left;
	width:600px;
	margin-top:20px;
	margin-left:-20px;
}

#thumbPersonalizaLeft{
	width:150px;
	float:left;
}

#thumbPersonalizaRight{
	width:400px;
	margin-left:18px;
	float:left;
	border:1px solid #627685;
}

#fonsThumbPersonal{
	width:400px;
	background-color:#ff0000;
	height:300px;
}

#fullThumbPersonal{
	padding-top:20px;
	width:350px;
	margin-left:25px;
	background-color:#00ff00;
	height:250px;
}

#gridThumbPersonal{
	width:280px;
	margin-left:35px;
	background-color:#FFFF66;
	height:220px;
}

.selectorColor{
	width:60px;
	margin-left:10px;	
}

/******************/
/*** FIELD FORM ***/
/******************/

#fieldFormContent{
	height:383px;
	background-color:#FFD2B3;
	padding-top:10px;
	
	border:1px solid #627685;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
}

#fields{
	width:600px;
	margin:0px 0 0 12px;
}

#fields a{
	text-decoration:none;
}

.campo{
	width:165px;
	height:20px;
	font-size:12px;
	
	float:left;
	margin:0 12px 4px 0;
	padding:10px;	
	padding-top:10px;
	border:1px solid #627685;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.campoTipo1{
	background:#627685 url('../images/backend/campoTipo1.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual1, .campoTipo1:hover{
	background:#ff8f42 url('../images/backend/campoTipo1.png') no-repeat 140px 1px;
	color:#fff;	
}

.campoTipo2{
	background:#627685 url('../images/backend/campoTipo2.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual2, .campoTipo2:hover{
	background:#ff8f42 url('../images/backend/campoTipo2.png') no-repeat 140px 1px;
	color:#fff;	
}

.campoTipo3{
	background:#627685 url('../images/backend/campoTipo3.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual3, .campoTipo3:hover{
	background:#ff8f42 url('../images/backend/campoTipo3.png') no-repeat 140px 1px;
	color:#fff;	
}

.campoTipo4{
	background:#627685 url('../images/backend/campoTipo4.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual4, .campoTipo4:hover{
	background:#ff8f42 url('../images/backend/campoTipo4.png') no-repeat 140px 1px;
	color:#fff;	
}

.campoTipo5{
	background:#627685 url('../images/backend/campoTipo5.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual5, .campoTipo5:hover{
	background:#ff8f42 url('../images/backend/campoTipo5.png') no-repeat 140px 1px;
	color:#fff;	
}

.campoTipo6{
	background:#627685 url('../images/backend/campoTipo6.png') no-repeat 140px 1px;
	color:#f3f3f3;
	cursor:pointer;
}
.campoActual6, .campoTipo6:hover{
	background:#ff8f42 url('../images/backend/campoTipo6.png') no-repeat 140px 1px;
	color:#fff;	
}

.formFieldTitleContainer{
	background-color:#F3F3F3;
	height:27px;
	margin:0px 10px 3px 10px;
	border:1px solid #627685;
	cursor:pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
}

.formFieldTitle{
	color:#4880d1;
	font-size:14px;
	margin:3px;
	margin-top:5px;
}


#titleContainer{
	clear:both;
	display:inline;
}

.fieldTitle{
	color:#FF8F42;
	font-weight:bold;
}

.fieldLegend{
	font-size:10px;
	float:right;
	margin-top:4px;
	margin-right:5px;
}

.fieldForms{
	display:none;
	visibility:hidden;
}

#formFieldsContainer{
	height:170px;	
}

.fieldContainer{
	background-color:#F3F3F3;
	margin:0px 10px 0 24px;
	padding:5px;
	border:1px solid #627685;
	height:145px;
	width:560px;	
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

#fieldButtons{
	float:right;
	display:block;
	margin-top:5px;
	margin-right:10px;	
}

.fieldsForm{
	display:inline;
}

.leftFormCol{
	width:250px;
	float:left;
	margin-left:20px;
	margin-top:5px;
}

.rightFormCol{
	width:250px;
	float:left;
	margin-left:40px;
	margin-top:5px;
}

.formFieldLabel{
	margin-bottom:5px;
}

.formFieldParagraph{
	margin-bottom:15px;
}

#newField{
	float:left;
}

#nuevoCampo{
	margin-top:10px;
	width:610px;
	float:left;
}

#nuevoCampo input{
	font-size:11px;
}

.addButtonContainer{
	margin-left:120px;
	margin-top:5px;
}

a.buttonLink{	
	font-size:11px;	
	color:#081c2a;	
	text-decoration:none;
	line-height:24px;
	cursor:pointer;
}

#selectList, #checkList, #radioList{
	height: 95px;
	width: 250px;
	overflow: auto;
}

#selectListPremium, #checkListPremium, #radioListPremium{
	margin-top:20px;
}

#fieldContainerNoPremium{
	margin:40px;
}

#selectListPremium a, #checkListPremium a, #radioListPremium a, #fieldContainerNoPremium a{
	color:#FF8F42;
	font-weight:bold;
	text-decoration:none;
}

#selectListPremium a:hover, #checkListPremium a:hover, #radioListPremium a:hover, #fieldContainerNoPremium a:hover{
	text-decoration:underline;;
}