#tt {
	position:absolute;
	display:block;
	background:url(../../images/backend/tt_left.png) top left no-repeat;
}

#tttop {
	display:block;
	height:5px;
	margin-left:5px;
	overflow:hidden;
	background:url(../../images/backend/tt_top.png) top right no-repeat;
}

#ttcont {
	display:block;
	padding:2px 12px 3px 7px;
	margin-left:5px;
	background:#FF8F42;
	color:#FFF
}

#ttbot {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(../../images/backend/tt_bottom.png) top right no-repeat;
	overflow:hidden;
}