		<div id="footer">
			
			<div id="footerContainer">
				<div id="footerInfo">
						<p id="copyright">Creatusencuestas.com &copy; 2010</p>
				</div>
			</div>
		
		</div>
		
		<!--[if IE]>
			{literal}	<script type="text/javascript"> Cufon.now(); </script>{/literal}
		<![endif]-->	