		<div id="headerEncuesta">
			<div id="headerEncuestaContainer">
				<div id="logoContainer">
					<div id="logo"><a href="{$baseURL}"><img alt="Crea tus encuestas" src="{$baseURL}/images/logoEncuesta.jpg" /></a></div>
				</div>
				
				<div id="register">
					<a class="registerLink" href="{$baseURL}/formulario-acceso/"><span class="registerButton">Crea tus propias encuestas</span></a>
				</div>				
			</div>							
			<div class="orangeSlash"></div>			
		</div>