﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		{include file='./includes/head.tpl'}
	</head>
	<body>	
		{if $msgError}Revisa que has definido un usuario y contrase&ntilde;a v&aacute;lidos{/if}
		<form id="autenticacion" action="{$baseURL}/validaAcceso/" method="post" />
			<label for="username">Usuario / email</label><input type="text" name="username" id="username" /><br/>
			<label for="password">Contrase&ntilde;a</label><input type="password" name="password" id="password" /><br/>
			<input type="submit" />
			
		</form>
	</body>
</html>